.keyword-to-tooltip-lite .tip {
  display: none;
}

#tooltip {
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 100;
  padding: 15px;
  border-radius: 5px;
}

#tooltip.classic {
  border-radius: 0;
}

#tooltip.circle {
  border-radius: 360px;
}

#tooltip.rounded {
  border-radius: 5px;
}

#tooltip.rounded-bottom {
  border-radius: 0 0 5px 5px;
}

#tooltip.rounded-bottom-large {
  border-radius: 0 0 15px 15px;
}

#tooltip.rounded-top {
  border-radius: 5px 5px 0 0;
}

#tooltip.rounded-top-large {
  border-radius: 15px 15px 0 0;
}

#tooltip:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#tooltip.top:after
{
  border-top-color: transparent;
  top: -20px;
  bottom: auto;
}

#tooltip.left:after
{
  left: 10px;
  margin: 0;
}

#tooltip.right:after
{
  right: 10px;
  left: auto;
  margin: 0;
}